@page
@model Racing.UI.Pages.Series.IndexModel
@{
    int i = 1;
}
<section class="py-4 my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 mb-3">All Series</h1>
                <hr class="my-4">
            </div>

            <div class="w-10 mx-auto">
                <div class="text-left">
                    <a class="btn btn-primary pull-left" style="margin: 0px 5px 5px 0px" asp-page="./create">
                        <i class="fas"> </i>
                        Add new
                    </a>
                </div>
            </div>
            <table class="table w-100 mx-auto">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>SortingOrder</th>
                    <th>Active</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                @foreach (var item in Model.Series)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.StartDate.ToShortDateString()
                        </td>
                        <td>
                            @item.EndDate.ToShortDateString()
                        </td>
                        <td>
                            @item.SortingOrder
                        </td>
                        <td>
                            @item.Active
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">
                                <i class="fas">
                                    Edit
                                </i>
                            </a>
                        </td>
                        <td>
                            <form asp-page-handler="delete" method="post">
                                <input type="text" name="Id" value="@item.Id" hidden/>
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    i++;
                }
            </table>
        </div>
    </div>
</section>